footer {
    background-color: #f2f2f2;
}

.navbar-collapse { 
    justify-content: flex-start;
}

.bg-light {
    background-color:#f2f2f2!important
}

.refs {
    text-decoration: underline;
    font-size: 20px;
}

html, h1, h2, h3, h4, h5, h6, a {
    font-family: "Raleway";
}

.error {
    color: red;
}

.maxwidth {
    max-width: 100px;
}
.maxwidth50 {
    max-width: 50px;
}

.likescountform {
    width: 50px; 
    display: inline-block;
}

.like-button {
    width: 50px; 
}
